@charset "UTF-8";

@font-face {
  font-family: PlanetFont;
  src: url("../fonts/PlanetNS.ttf");
}

* {
    font-family: PlanetFont;
    font-size:20px;
    margin:0;
    padding:0;
}

body {
	color:rgb(255, 255, 255);
	width: 100%;
	height: 100%;
}

#container, #webglcanvas {
	height: 100%;
	width: 100%;
	border:none;
	background-color:#ffffff;
}

#container, canvas{
  position: absolute;
}

/********************************/
/*********** PROMPT ************/
/******************************/
#prompt{
	position: absolute;
	height: 40px;
	font-size:15px;
	background-color: rgba(0, 0, 0, 0.34);
	text-align: center;
}

#score {
	/*img*/
}

#timer {
	/*img*/
}

#high-score{
	/*img*/
}


/********************************/
/********* GAME MENU ***********/
/******************************/
#game-menu{
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 100%;
	border:none;
	background-color: rgba(33, 33, 33, 0.88);
	background-image: url("../images/overlay.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/********************************/
/********** ONLY MENU **********/
/******************************/
#menu{
	width: 100%;
}

.btn-block {
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  text-align: center;
  color: white;
  border: none;
  background-color: transparent;
}

.btn-block:hover {
	background: rgb(0,0,0);
	background: linear-gradient(90deg, rgba(0,0,0,0.3) 0%, 
									   rgba(255,255,255,0.3) 25%, 
									   rgba(255,255,255,0.3) 50%, 
									   rgba(255,255,255,0.3) 75%, 
									   rgba(0,0,0,0.3) 100%);
    border: none;
    color: black;
}

.btn-block:active {
	background: rgb(0,0,0);
	background: linear-gradient(90deg, rgba(0,0,0,0.3) 0%, 
									   rgba(255,255,255,0.3) 25%, 
									   rgba(156,249,243,0.3) 50%, 
									   rgba(255,255,255,0.3) 75%, 
									   rgba(0,0,0,0.3) 100%);
    border: none;
    color: white;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/********************************/
/********** HIGH SCORES ********/
/******************************/
#high-scores{
	width: 100%;	
}

#high-scores > .info{
	margin: 0 auto;
	
}

#high-scores > div > h1{
	 font-size:40px;
	 text-align:center;
}

#high-scores > div > div > div > h2{
	font-size:60%;
}

#high-scores > div > div > div > p{
	font-family: 'Segoe UI Light';
	font-size:80%;
}

#ranking{
	width: 50%;
	text-align:right;
}

#scores{
	width: 50%;
	text-align:left;
}
/********************************/
/************ CREDITS **********/
/******************************/
#credits{
	width: 100%;	
}

#credits > .info{
	margin: 0 auto;
}

#credits > div > h1{
	 font-size:40px;
	 text-align:center;
}

#credits > div > h2{
	font-size:80%;
	text-align:center;
}

#credits > div > p{
	font-family: 'Segoe UI Light';
	font-size:70%;
	text-align:center;
}

/********************************/
/********* PROGRESS BAR ********/
/******************************/

#progress-bar {
	/* Position */
	position: fixed;
	width: 30%;
	bottom: 10px;
	left: 70px;
	/* Background */
	background-color: grey;
	/* Border */
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

#life{
	position: fixed;
	bottom: 5px;
	left: 10px;
}

#life-score{
	width: 100%;
	height: 15px;
	/* Background */
	background-size: 30px 30px;
	background-color: #4CAF50;
	background-image: linear-gradient(
		-45deg, 
		rgba(255, 255, 255, .2) 25%, 
		transparent 25%, 
		transparent 50%, 
		rgba(255, 255, 255, .2) 50%, 
		rgba(255, 255, 255, .2) 75%, 
		transparent 75%, 
		transparent
	);
	/* Alignment */
	font-size: 15px;
	text-align: center;
	line-height: 15px;
	/* Animation */
	animation: move 2s linear infinite;
	/* Border Radius */
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

@keyframes move {
  0% { background-position: 0 0; }
  100% { background-position: 30px 30px; }
}

/********************************/
/********* COLS & ROWS *********/
/******************************/
.row{
	display: table;
    width: 100%;
}

.col-3{
	display: table-cell;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 33.33%;
}

.col-6{
	display: table-cell;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	width: 50%;
}

/********************************/
/************** HR *************/
/******************************/
hr{
	width: 20%;
	text-align:center; 
	
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}